package layouts

templ baseLayout() {
	<!DOCTYPE html>
	<html lang="en" data-theme="light">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="Developer friendly local identity provider" />
			<link href="/static/styles.css" rel="stylesheet"/>
			<title>IDP Zero: Developer friendly local identity provider</title>
		</head>
		<body>
			{ children... }	
		</body>
	</html>
}

